{
  "dbUrl": "",
  "apiBaseUrl": "",
  "emailing": {
    "from": "no-reply@provider.com",
    "host": "smtp.provider.com",
    "auth": {
      "user": "test@provider.com",
      "pass": "mypass"
    }
  }
}